/* Start of classes section */

.classes {
    padding: 80px 20px;
    background-color: #303030;
    min-width: 100%;
  
  }
  
  .classes h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #ff0000;
  }


  .class-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    justify-items: center;
    margin-top: 40px;
    width: 100%;
  }
  
  .class {
    padding: 20px;
    text-align: justify;
    border-radius: 10px;
    background-color: #303030;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transition:  transform 0.4s ease-in-out;
  }
  
  .class:hover {
    transform: translateY(-7px) scale(1.1);
  
    
  }
  
  .classes h3{
    color: #fff;
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
  }
  .class a {
    text-decoration: none;
  }
  
  .class h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ff0000;
  }
  
  .class p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 768px){
    .class-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    min-width: 100%;
   
}
  }
    /* End of class section */