 /* Footer section starts here */


 footer {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    margin-bottom: -3px;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
  }
  
  footer p{
    padding-top: 10px;
  }
  footer span{
    font-weight: bold;
  }
  .social-icons {
    text-align: center;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    padding-top: 10px;
    color: #333;
    transition: 0.2s ease-in-out;
     }
  
  .fa-twitter{
    color: #00bfff;
    font-size: 30px;
  }
  .fa-youtube{
    color: rgb(255, 0, 0);
    font-size: 30px;
    
  }
  .fa-facebook{
    color: #fff;
    font-size: 20px;
    display: inline-block;
    padding: 8px 8px;
    background-color: #044f9e;
    border-radius: 5px;
  }
  .social-icons a:hover {
    transform: scale(1.3);
    
  }
  
  #goContact{
    transition: all 0.5s;
  }

  @media  screen and (max-width: 768px) {

    footer{
        /* position: fixed;
        bottom: 0; */
        position: sticky;
        position: -webkit-sticky;
        bottom: 0;
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
       


    }
    
}